.flex-show {
  display: flex;
  justify-content: space-around;

}

.boat-card {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
        margin-top: 3%;
    background-color: white;
    height: 38vh;
    width: 30vw;
}

.flex-banner-show {
  background-color: white;
  display: flex;
}

.details {
  border-bottom: 1px solid #E7BB98;
      padding-bottom: 13px;
}

.all-details {

    text-align: center;
    padding-top: 0px;
    padding-bottom: 10px;

}
