<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1504124543157-05127c837b30?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=143236659899441a6b216590c8c2b3af&auto=format&fit=crop&w=968&q=80');">

  <div class="banner-content">
    <h1>BoaTbnb</h1>
    <p>Just on the sea</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>




<div class="container">
  <div class="row">
   <% @boats.each do |boat| %>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('');">
  <div class="card-category"><%= link_to boat.name, boat_path(boat.id)%></div>
  <div class="card-description">
    <p><i class="fas fa-map-pin"></i><%= boat.address %></p>
    <%= boat.price %>
    <%= boat.model %>
  </div>
  <img class="card-user" src="">
  <a class="card-link" href="#" ></a>
</div>
    </div>
<% end %>
</div>
</div>






