   .btn-primary {
    background-color: #AD2F24;
    border: none;
  }

  .edit-index {
    position: absolute;
    bottom: 8px;
    left: 12px;
  }

.delete-index {
    position: absolute;
    bottom: 8px;
    left: 44px;
}
