   .btn-primary {
    background-color: #AD2F24;
    border: none;
  }

  .edit-index {
    position: absolute;
    bottom: 8px;
   right: 29px;
  }

.delete-index {
    position: absolute;
    bottom: 8px;
    right: 7px;
}
