.new_boat {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
    /* height: 100%; */

    background-color: white;
    /* width: 108%; */


    margin-top: 48px;
    background-color: white;
    height: 65vh;
    padding: 10px;

  }

.form-show {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
    margin-top: 12%;
    padding-top: 43px;
    margin-left: 59%;
    background-color: white;
    border-radius: 1%;
    height: 50vh;
    width: 30vw;
    position: relative;
}

#edit_boat_2 {

    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
    /* height: 100%; */

    background-color: white;
    /* width: 108%; */


    margin-top: 48px;
    background-color: white;
    height: 65vh;
    padding: 10px;

}

.form-show-booking {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
    margin-top: 12%;
    padding-top: 43px;
    margin-left: 59%;
    background-color: white;
    border-radius: 1%;
    height: 45vh;
    width: 30vw;
    position: relative;
}
