.title {
  position: absolute;
  top: 5px;
  text-align: center;
  width     : 100%;
  height    : 100%;
}

h1, .h1 {
    font-size: 30px;
}

.title-index {
    position: absolute;
    top: 0px;
    /* text-align: center; */
    width: 100%;
    height: 9%;
    background-color: #E7BB98;
    left: 0;
    /* bottom: 111px; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.title-show {
      position: absolute;
       bottom: 422px;
    /* text-align: center; */
    width: 100%;
    height: 9%;
    background-color: #E7BB98;
    left: 0;
    /* bottom: 111px; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}

.title-dashboard {
  color: white;
}
